.row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card{
    width: 20rem;
    padding: 1.5rem;
    background-color: #A2ABC8;
    border-radius: 0.8rem;
}

.card h3{
    margin-top: 0;
}

.product-select-container div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox{
    border-radius: 0.8rem;
    background-color: rgb(80, 112, 148);
}

.card input[type="number"]{
    width: 3rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.2rem;
}

.product-select-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
