<app-header></app-header>
<main>
    <h1>Notas Fiscais</h1>
    <div class="card-row">
        <div class="card">
            <h4>Nota fiscal 03852546892</h4>
            <p>02/03/2026</p>
            <ul>
                <li>Sabonete</li>
                <li>Maçã</li>
            </ul>
        </div>
        <div class="card">
            <h4>Nota fiscal 03852546892</h4>
            <p>02/03/2026</p>
            <ul>
                <li>Sabonete</li>
                <li>Maçã</li>
            </ul>
        </div>
        <div class="card">
            <h4>Nota fiscal 03852546892</h4>
            <p>02/03/2026</p>
            <ul>
                <li>Sabonete</li>
                <li>Maçã</li>
            </ul>
        </div>
    </div>
    <div class="card-row">
        <div class="card">
            <h4>Nota fiscal 03852546892</h4>
            <p>02/03/2026</p>
            <ul>
                <li>Sabonete</li>
                <li>Maçã</li>
            </ul>
        </div>
        <div class="card">
            <h4>Nota fiscal 03852546892</h4>
            <p>02/03/2026</p>
            <ul>
                <li>Sabonete</li>
                <li>Maçã</li>
            </ul>
        </div>
        <div class="card">
            <h4>Nota fiscal 03852546892</h4>
            <p>02/03/2026</p>
            <ul>
                <li>Sabonete</li>
                <li>Maçã</li>
            </ul>
        </div>
    </div>
</main>
