.card{
    width: 22rem;
    height: 12rem;
    background-color: #b2bad5;
    padding: .6rem 1rem;
    border-radius: 0.8rem;
}

.card-row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
}
