<app-header></app-header>
<main>
    <h1>Nota fiscal
        @if(taxNoteId != null){
            {{taxNoteId.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')}}
        }
        @else {
            {{taxNoteId}}
        }
    </h1>
    @if(taxNoteStatus == "A"){
        <h4 class="open">Aberto</h4>
    }
    @else {
        <h4 class="closed">Fechado</h4>
    }
    <button class="button" (click)="printTaxNote()">Imprimir</button>
    <div class="details-card">
        <h4>Nota fiscal
            @if(taxNoteId != null){
                {{taxNoteId.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')}}
            }
            @else {
                {{taxNoteId}}
            }
        </h4>
    </div>
</main>
