<p>Olá, {{name}}!</p>
<form (ngSubmit)="addProduct()">
    <input type="text" placeholder="Nome do produto" name="nome" [(ngModel)]="newProduct.nome" required><br>
    <input type="number" placeholder="Saldo" min="0" name="saldo" [(ngModel)]="newProduct.saldo" required><br>
    <button type="submit">Cadastrar Produto</button>
</form>
<br>

<button (click)="showProducts()">Mostrar produtos</button>

@if(mostrarNota){
    <h2>Mostrar nota</h2>
}

@for(item of listItems; track item){
    <p>{{item}}</p>
}
