.product-table{
    width: 50rem;
    margin: 10px;
    border-radius: 8px;
    padding: 1rem;
    background-color: #A2ABC8;
}

.table-actions{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
