.product-table{
    min-width: 30rem;
    margin: 2rem;
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: #b2bad5;
}

td{
    text-align: center;
}

.table-actions{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
