.card{
    width: 22rem;
    height: 9rem;
    background-color: #b2bad5;
    padding: .6rem 1rem;
    border-radius: 0.8rem;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.button-row{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.open{
    color: rgb(10, 85, 10);
    font: inherit;
    font-weight: 500;
}

.closed{
    color: rgb(130, 8, 8);
    font: inherit;
    font-weight: 500;
}

.card-button{
    font: inherit;
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.8rem;
    background-color: #3550A2;
}
