<app-header></app-header>
<main>
    <h1>Notas Fiscais</h1>
    <button class="button" (click)="goToTaxNoteForms()">Criar nota fiscal</button>
    <div class="card-grid">
        @for(taxNote of (taxNotes$ | async); track taxNote.numeracao){
            <div class="card">
                <h4>Nota fiscal {{taxNote.numeracao.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')}}</h4>
                @if(taxNote.status == "A"){
                    <p class="open">Aberta</p>
                }
                @else {
                    <p class="closed">Fechada</p>
                }
                <div class="button-row">
                    <button class="card-button" (click)="goToTaxNoteDetails(taxNote.numeracao, taxNote.status)">Ver</button>
                    <button class="card-button" (click)="goToTaxNoteDetails(taxNote.numeracao, taxNote.status)">Imprimir</button>
                </div>
            </div>
        }
    </div>
</main>
