<app-header></app-header>
<main>
  <h1>Nova Nota Fiscal</h1>

  <div class="row">
    <div class="card">
      <h3>Nota fiscal n° {{currentId}}</h3>
      <button class="button" (click)="createTaxNote()">Abrir nota</button>
    </div>

    <!--
    <div class="card">
      <h3>Selecione produtos</h3>
      <div class="product-select-container">
        @for (product of products$ | async; track product.codigo) {
          <div class="product-item">
            <span>
                @if(product.saldo < 1){
                    <input class="checkbox" type="checkbox" #check (change)="checkProduct(product, check.checked, null)" disabled>
                }
                @else{
                    <input class="checkbox" type="checkbox" #check (change)="checkProduct(product, check.checked, null)">
                }
              {{product.descricao}}
            </span>
            @if (product.saldo < 1) {
                Sem saldo
            } 
            @else {
              <input type="number" value="0" min="0" #qty [max]="product.saldo" (input)="checkProduct(product, null, qty.value)">
            }
          </div>
        }
      </div>
    </div>
  -->
  </div>
</main>
